.banner {
    display: flex;
    width: 100%;
}

.banner__imagen{
    background: url('../img/banner.png') no-repeat center/cover;
    height: 352px;
    width: 100%;
}

.titulos__banner {
    position: absolute;
    top: 16rem;
    left: 8rem;
}

.h1__febrero {
    color: #ffffff;
    height: 74px;
    font-family: 'Raleway';
    font-size: 52px;
    font-weight: 600;
}

.seleccionados {
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
}

.a__producto {
    position: absolute;
    top: 23rem;
    left: 8rem;
}

.btn__consolas {
    background: #2A7AE4;
    border: none;
    color: #ffffff;
    cursor:pointer;
    height: 3rem;
}

@media screen and (min-width: 360px){
    .banner__imagen {
        height: 18vh;
    }
    .titulos__banner {
        left: -16vh;
        top: 9rem;
    }
    .h1__febrero {
        font-size: 2vh;
        height: 8vh;
        position: absolute;
        left: 18vh;
        width: 23vh;
    }
    .seleccionados {
        font-size: 1.5vh;
        position: absolute;
        left: 11.5rem;
        top: 2rem;
        width: 31vh;
    }
    .btn__consolas {
        position: relative;
        right: 10.5vh;
        top: -10rem;
    }
}

@media screen and (min-width: 768px){
    .titulos__banner {
        left: 52px;
    }
    .a__producto {
        left: 52px;
    }
}

