body {
    align-items: center; 
    display: flex;
    flex-direction: column;
    height: 115px;
    margin: 0;
}

.cabezera {
    align-items: center;
    display: flex;
    height: 115px;
    justify-content: center;
    padding: 2rem;
    width: 1136px;
    
}

.buscador {
    background: #f5f5f5;
    border-radius: 20px;
    display: flex;
    height: 29px;
    margin: 0 0 0 40px;
    padding: 0 0 0 3%;
    width: 393px;
}

.lupa {
    color: #A2A2A2;
    display: flex;
    left: 51%;
    position: absolute;
    top: 6%;
}

.loguin {
    background: none;
    border-color: #2A7AE4;
    color: #2A7AE4;
    display: flex;
    margin: 0 0 0 25rem;
    padding: 5px 40px 5px 40px;
}

.banner {
    position: relative;
}

.banner__imagen{
    width: 100%;
    height: 100%;
}

.titulo, .titulo1, .titulo2 {
    align-items: center;
    background: #E5E5E5;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titulo__img, .titulo__img1, .titulo__img2 {
    display: flex;
    position: relative;
    padding: 4rem 0 0 9rem;
    
}

.consola, .diversos {
    width: 9.2rem;
}

.ver__todo, .ver__todo1, .ver__todo2 {
    align-items: center;
    background: none;
    border-style: none;
    display: flex;
    color: #2A7AE4; 
    left: 50.0rem;
    position: relative;  
}

.flecha, .flecha1, .flecha2{
    background: none;
    border-style: none;
    color: #2A7AE4; 
    display: flex;
    left: 50.4rem;
    margin: 5px 0;
    position: relative; 
}

.promociones, .promociones2, .promociones3 {
    align-items: center;
    background: #E5E5E5;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 0;
    width: 100%;
}

.promo, .promo2 {
    align-items: flex-start;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    margin: 0 -8.5rem 0;
    position: relative; 
    right: 0.5rem;
     
}

.promo__imagen, .promo__imagen2{
    width: 10rem;
    height: 10rem;
}

.producto {
    background: none;
    border-style: none;
    color: #2A7AE4; 
    margin: 0 -5px;
}

.contactos {
    align-items: center;
    background: #EAF2FD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 64px 0; 
    width: 100%;
}

.alurageek {
    align-items: center;
    display: flex;
    padding: 0 0 10rem;
    position: relative;
    right: 16rem;
    
}

.contactos__info{
    display: flex;
    position: relative;
    flex-direction: column;
    right: 9.8rem;
}
.contacto__info {
    display: flex;
    padding: 0 0 1rem;
}

.contacto__link {
    color: #464646;
    text-decoration: none;
}

.form{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 3.8rem;
}

.parrafo, .nombre, .textarea {
    margin: 7px 0;
    padding: 0 5px;
    position: relative;
    top: -1.5rem;
    width: 247%;
}

.textarea{
    margin: 10px 0 -15px;
}

.enviar {
    align-items: center;
    background: #2A7AE4;
    border-style: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    height: 51px;
}

.desarrollo {
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
}   

.desarrollador {
    margin: 1rem 0 -1rem;
}


